// background
.bg_lightbrown_1    {background-color: #EBDED4;}
.bg_lightbrown_2    {background-color: #8b6d57;}
.bg_lightbrown_3    {background-color: #31231f;}
.bg_lightbrown_4    {background-color: #7C4E29;}



// color
.c_lightbrown_1    {color: #EBDED4;}
.c_lightbrown_2    {color: #8b6d57;}
.c_lightbrown_3    {color: #31231f;}
.c_lightbrown_4    {color: #7C4E29;}



// header

header{
    height: 150px;
}

// main
 main{
    height: calc(100% - 150px);
 }